.sidenav {
  height: auto;
  min-height: 92vh;
}

.sidenav.rs-sidenav-collapse-in{
  width: 15vw !important;
}

.nav-header {
  width: 15vw ;
  padding: 16px 20px;
  font-size: 16px;
  background: #34c3ff;
  color: #fff;
}

.app-logo {
  width: 70%;
}

.side-header {
  text-align: center;
}

.custom-avatar-wrapper .rs-nav-item-content {
  padding: 8px !important;
  align-items: center;
  display: flex !important;
}

.custom-avatar-wrapper span {
  padding: 10px;
}

.container {
  width: 85vw;
  height: 90vh;
  overflow: auto;
  flex-grow: 1;
  padding: 25px;
}

.content-wrapper {
  display: inline-flex;
}

.panel-button {
  min-width: 100px;
}
